# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
.swc

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# Zero Install: https://yarnpkg.com/features/zero-installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Cypress
cypress/screenshots
cypress/videos
cypress/log

# next-pwa
**/public/workbox**
**/public/sw**

#env
.env

#sentry
.sentryclirc
/test-results/
/playwright-report/
/playwright/.cache/
